[cloud/azure]
provider=azure
# find the credentials on our Azure portal 
subscription_id=***replaced
tenant_id=***replaced
client_id=***replaced
secret=***replaced
location=eastus

[login/azure]
image_user=ousc
image_user_sudo=root
image_sudo=True
# keypair used to run stuff on the nodes, you may do ssh-keygen yourself
user_key_name=elasticluster
user_key_private=***replaced
user_key_public=***replaced

# SLURM setup:
[setup/slurm]
provider=ansible
frontend_groups=slurm_master
compute_groups=slurm_worker,cuda
compute_var_allow_reboot=yes
global_var_ansible_ssh_host_key_dsa_public=''

[cluster/azure-slurm]
cloud=azure
login=azure
setup=slurm
frontend_nodes=1
compute_nodes=2
image_id=canonical/ubuntuserver/16.04.0-LTS/latest
# flavor is the instance type. You have to look up for available types in selected region
flavor=Standard_NC6_Promo
security_group=default

[cluster/azure-slurm/frontend]
flavor=Standard_B1ms

